.container {
        max-width: 800px;
        margin-top: 50px;
}

.jumbotron img {
        /* text-align: center; */
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.one {
        width: 100%;
}

.main {}

body {
        background: rgb(248, 247, 255);
        background: linear-gradient(0deg, rgba(248, 247, 255, 1) 0%, rgba(98, 136, 214, 1) 52%, rgba(137, 200, 252, 1) 100%);
}

h1 {
        text-align: center;
        margin-bottom: 20px;
}

p {
        margin-top: 30px;
}

.img-fluid {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        width: 60%;
}

.footer-copyright {
        color: white;
}