.container {
        max-width: 800px;
        margin-top: 50px;
}

.jumbotron img {
        /* text-align: center; */
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.one {
        width: 100%;
}

.main {}

body {
        background-color: lightcyan;
}

h1 {
        text-align: center;
        margin-bottom: 20px;
}

p {
        margin-top: 30px;
}

.img-fluid {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        width: 60%;
}